<html>

<head>
    <!-- Compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">-->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link rel='stylesheet' href='/styles/style.css' />
   
</head>

<body>
    <!-- <div class="container"> -->
        <div class="logo">ununruly</div>
        <div class="sidenav">
            <a href="http://localhost:3000/">New Note</a>
            <a href="#">Saved Notes</a>
            <a href="#">About</a>
        </div>
        <div class="note">
            
            <form action="/note" method="POST">
                <input type="text" name="title" class="center" placeholder = "Untitled Note">
                <hr/>
                <textarea name="note" cols="60" rows="40" placeholder="Write Something... "></textarea>
                <!--<input type="text" name="note">-->
                <button type="submit" class="btn">Save</button>
            </form>
        </div>
    <!-- </div> -->
</body>

</html>